@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// COLORS
$headerfont: #DAD3D3;
$bluetext: #66C7E5;

$newnav: #06183A;
$supportblue: #668CF6;
$backgroundwhite: #F0F5FF;

// BORDERS
$borderfont: #dad3d35b;

* {
    margin: 0;
    color: white;
    body {
        background-color: black;
        .whole_page {
            // 100
            height: 200vh;
            background-color: $backgroundwhite;
            // The NavBar
            nav {
                background-color: $newnav;
                height: 4%;
                height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                .nav_contents {
                    margin: 0 5em 0 5em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }
                .title_nav {
                    font-family: 'Inter', sans-serif;
                    font-size: 1.1rem;
                }
                .list_nav {
                    font-family: 'Roboto', sans-serif;
                    display: flex;
                    gap: 1em;
                    a {
                        text-decoration: none;
                        font-size: .8rem;
                    }
                }
            }
            // Top 
            .top_page {
                background-color: #06183A;
                width: 100%;
                // height: 15%;
                height: 250px;
                margin-top: 6em;
                // TOP SQUARE
                // Content
                .right_square {
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    background-color: black;
                    background-image: url("./img/top_banner.png");
                    // width: 65em;
                    width: 100%;
                    height: 17em;
                    // margin-top: -1em;
                    // height: 250px;
                    .solutions {
                        color: $bluetext;
                        font-size: 1.5rem;
                        font-family: 'Inter', sans-serif;
                        font-weight: bold;
                        position: relative;
                        bottom: .7em;
                        left: 3em;
                        width: 55%;
                    }
                    .solutions::before {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        right: 0;
                        height: 6px;
                        width: 45%;
                        background-color: white;
                    }
                    // Color the P tag
                    p {
                        color: $bluetext;
                    }
                }
            }
            // Middle
            .exec_summary {
                height: 28%;
                height: 400px;
                background-color: $backgroundwhite;
                display: flex;
                flex-direction: column;
                // margin: 10px 0 10px 0;
                .exec_words {
                    // background-color: #668CF6;
                    font-family: 'Inter', sans-serif;
                    margin: 7em 0 0 5em;
                    width: 60%;
                    line-height: 2em;
                    font-size: 1rem;
                    b {
                        color: $newnav;
                    }
                    p {
                        color: $newnav;
                    }
                }
                // Line and Bulb
                .ul_bulb {
                    // background-color: #668CF6;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 5em 0 0 0;
                    ul {
                        width: 85%;
                        height: 2px;
                        margin: 0em 0 0 -2em;
                        // margin-left: auto;
                        // margin-right: auto;
                        background-color: $newnav;
                        border: 0 none;
                    }
                    #bulb {
                        width: 2em;
                        height: 2em;
                        position: relative;
                        right: -15px;
                        // margin-left: -11em;
                    }
                }
            }
            // Bottom
            .insight_section {
                height: 40%;
                height: 725px;
                background-color: $backgroundwhite;
                display: flex;
                // justify-content: center;
                align-items: center;
                font-family: 'Inter', sans-serif;
                .insight_contents {
                    display: flex;
                    flex-direction: column;
                    gap: 1.1em;
                    margin: 0em 5em 0 5em;
                    .insight_title {
                        b {
                            color: $newnav;
                        }
                    }
                    .insight_squares {
                        display: flex;
                        gap: 5em;
                        height: 100%;
                        .square {
                            display: flex;
                            // align-items: center;
                            justify-content: center;
                            border: 1px solid $newnav;
                            // background-image: url("./img/operations_light.png");
                            height: 32em;
                            width: 23em;
                            border-radius: 5px;
                            // height: 100%;
                            // width: 100%;
                            cursor: pointer;
                            // Square Content
                            .square_content {
                                display: flex;
                                flex-direction: column;
                                margin: 3em 0 0 5em;
                                // justify-content: left;
                                button {
                                    background: none;
                                    border: none;
                                    text-align: left;
                                    font-family: 'Inter', sans-serif;
                                    font-size: 1.1rem;
                                    font-weight: bold;
                                    position: absolute;
                                    cursor: pointer;
                                }
                                button::before {
                                    content: '';
                                    position: absolute;
                                    bottom: -8px;
                                    left: 0;
                                    right: 0;
                                    height: 4px;
                                    width: 105%;
                                    background-color: $bluetext;
                                    opacity: 0;  
                                    margin: 0 0 0 .4em;
                                }
                                button:hover:before {
                                    opacity: 1;
                                    transition: .3s all ease-in;
                                    z-index: 1;
                                }
                                .hover_boxes {
                                    display: flex;
                                    flex-direction: column;
                                    line-height: 15px;
                                    align-items: center;
                                    height: 100%;
                                    width: 60%;
                                    margin: 3em 0 0 .4em;
                                    opacity: 0;
                                    p {
                                        font-size: small;
                                    }
                                }
                                .hover_boxes.appear {
                                    opacity: 1;
                                    transition: .3s all ease-in;
                                }
                            }
                        }
                        #square_one {
                            background-image: url("./img/office_lights.png");
                            margin: 0 0 0 0em;
                        }
                        #square_two {
                            background-image: url("./img/operations_light.png");
                        }
                        #square_three {
                            background-image: url("./img/environ_light.png");
                        }
                        #square_four {
                            background-image: url("./img/hand_light.png");
                        }
                    }
                }
            }
            footer {
                height: 150px;
                background-color: $newnav;

            }
        }
    }
}