@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// COLORS
$headerfont: #DAD3D3;
$bluetext: #66C7E5;

$newnav: #06183A;
$supportblue: #668CF6;
$backgroundwhite: #F0F5FF;

// BORDERS
$borderfont: #dad3d35b;

* {
    margin: 0;
    color: white;
    body {
        background-color: black;
        .whole_page {
            // 100
            height: 150vh;
            background-color: $backgroundwhite;
            // The NavBar
            nav {
                background-color: $newnav;
                height: 6%;
                height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                .nav_contents {
                    margin: 0 5em 0 5em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }
                .title_nav {
                    display: flex;
                    align-items: center;
                    font-family: 'Inter', sans-serif;
                    font-size: 1.3rem;
                    margin-left: -.7em;
                    #lightbulb {
                        width: 1.2em;
                        height: 1.2em;
                    }
                }
                .list_nav {
                    font-family: 'Roboto', sans-serif;
                    display: flex;
                    gap: 1em;
                    a {
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }
            }
            // Top 
            .top_page {
                background-color: #06183A;
                width: 100%;
                // height: 15%;
                height: 250px;
                margin-top: 6em;
                // TOP SQUARE
                // Content
                .right_square {
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    background-color: black;
                    background-image: url("./img/top_banner.png");
                    // width: 65em;
                    width: 100%;
                    height: 17em;
                    // margin-top: -1em;
                    // height: 250px;
                    .solutions {
                        color: $bluetext;
                        font-size: 1.5rem;
                        font-family: 'Inter', sans-serif;
                        font-weight: bold;
                        position: relative;
                        bottom: .7em;
                        left: 3em;
                        width: 55%;
                    }
                    .solutions::before {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        right: 0;
                        height: 6px;
                        width: 45%;
                        background-color: white;
                    }
                    // Color the P tag
                    p {
                        color: $bluetext;
                    }
                }
            }
            // Middle
            .exec_summary {
                height: 28%;
                height: 400px;
                background-color: $backgroundwhite;
                display: flex;
                flex-direction: column;
                // margin: 10px 0 10px 0;
                .exec_words_and_lights {
                    display: flex;
                    .exec_words {
                        // background-color: #668CF6;
                        font-family: 'Inter', sans-serif;
                        margin: 7em 0 0 5em;
                        width: 60%;
                        line-height: 2em;
                        font-size: 1rem;
                        b {
                            color: $newnav;
                        }
                        p {
                            color: $newnav;
                        }
                    }
                    .leds {
                        display: flex;
                        margin: 9em 0 0 0;
                        position: relative;
                        left: 60px;
                        .led_one {
                            margin: 0 0 0 3em;
                            z-index: 1;
                            
                            #led_one {
                                border-radius: 50%;
                                border-radius: 15px;
                                box-shadow: 2px 2px 2px 1px $backgroundwhite;
                                width: 12em;
                                height: 12em;
                            }
                        }
                        .led_two {
                            // background-color: $newnav;
                            border-radius: 50%;
                            border-radius: 15px;
                            margin: -3em 0 0 -3em;
                            #led_two {
                                border-radius: 15px;
                                filter: brightness(70%);
                                box-shadow: 2px 2px 2px 2px $bluetext;
                                width: 12em;
                                height: 12em;
                            }
                        }
                    }
                }
                // Line and Bulb
                .ul_bulb {
                    // background-color: #668CF6;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 5em 0 0 0;
                    ul {
                        width: 85%;
                        height: 2px;
                        margin: 0em 0 0 -2em;
                        // margin-left: auto;
                        // margin-right: auto;
                        background-color: $newnav;
                        border: 0 none;
                    }
                    #bulb {
                        width: 2em;
                        height: 2em;
                        position: relative;
                        right: -15px;
                        // margin-left: -11em;
                    }
                }
            }
            // Bottom
            .insight_section {
                height: 50%;
                height: 650px;
                background-color: $backgroundwhite;
                display: flex;
                // justify-content: center;
                padding: 2em 0 2em 0;
                align-items: center;
                font-family: 'Inter', sans-serif;
                .insight_contents {
                    display: flex;
                    flex-direction: column;
                    gap: 1.1em;
                    margin: 0em 5em 0 5em;
                    // margin: 0 5em 0 5em;
                    .insight_title {
                        b {
                            color: $newnav;
                        }
                    }
                    // ALL THE SQUARES
                    .insight_squares {
                        display: flex;
                        gap: 2em;
                        height: 100%;
                        // width: 50%;
                        // background-color: #668CF6;
                        .square {
                            background-color: #06183A;
                            width: 85%;
                            height: 30em;
                            position: relative;
                            border-radius: 5px;
                            cursor: pointer;
                            .square_content {
                                // width: 100%;
                                // height: 100%;
                                margin: 2em 0 0 4em;
                                // position: absolute;
                                .insight_button {
                                    background: none;
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-size: 1rem;
                                    border: none;
                                    font-weight: bold;
                                    position: relative;
                                    cursor: pointer;
                                }
                                // UnderLine Button
                                .insight_button::before {
                                    content: '';
                                    position: absolute;
                                    bottom: -8px;
                                    left: 0;
                                    right: 0;
                                    height: 4px;
                                    width: 105%;
                                    background-color: $bluetext;
                                    opacity: 0;  
                                    margin: 0 0 0 .4em;
                                }
                                .insight_button:hover:before {
                                    opacity: 1;
                                    transition: .3s all ease-in;
                                    z-index: 1;
                                }
                                .hover_boxes {
                                    width: 75%;
                                    font-size: .9rem;
                                    margin: 2em 0 0 .3em;
                                    opacity: 0;
                                }
                                .hover_boxes.appear {
                                    transition: .4s all ease-in;
                                    opacity: 1;
                                }
                            }
                        }
                        .square::after {
                            content: "";
                            display: block;
                            padding-bottom: 30%;
                            padding-bottom: 60px;
                       }
                       #square_one {
                            background-image: url("./img/office_lights.png");
                        }
                        #square_two {
                            background-image: url("./img/operations_light.png");
                        }
                        #square_three {
                            background-image: url("./img/environ_light.png");
                        }
                        #square_four {
                            background-image: url("./img/hand_light.png");
                        }
                    }
                }
            }
            footer {
                height: 150px;
                background-color: $newnav;

            }
        }
    }
}


// .lil_squares {
//     display: flex;
//     gap: 5em;
//     height: 50%;
//     .lil_square {
//       border: 2px solid rgb(89, 89, 216);
//       background-color: rgb(21, 21, 215);
//       width: 25%;
//       // for the content positioning
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       position: relative;
//       cursor: pointer;
//       .square_content {
//         width: 40%;
//         width: 100%;
//         height: 100%;
//         margin: 6em 0 0 9em;
//         position: absolute;
//         // BUTTON
//         .square_head {
//           background: none;
//           color: aliceblue;
//           border: none;
//           font-size: 1rem;
//           font-weight: bold;
//           // background-color: red;
//           margin: 0 0 0 -.3rem;
//           // width: 100%;
//         }
//         p {
//           color: white;
//           font-size: small;
//           // background-color: rebeccapurple;
//           width: 50%;
//         }
//       }
//     }
//     .lil_square::after {
//       content: "";
//       display: block;
//       padding-bottom: 100%;
//     }
//   }