@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  color: white;
}
* body {
  background-color: black;
}
* body .whole_page {
  height: 200vh;
  background-color: #F0F5FF;
}
* body .whole_page nav {
  background-color: #06183A;
  height: 4%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
* body .whole_page nav .nav_contents {
  margin: 0 5em 0 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
* body .whole_page nav .title_nav {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}
* body .whole_page nav .list_nav {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 1em;
}
* body .whole_page nav .list_nav a {
  text-decoration: none;
  font-size: 0.8rem;
}
* body .whole_page .top_page {
  background-color: #06183A;
  width: 100%;
  height: 250px;
  margin-top: 6em;
}
* body .whole_page .top_page .right_square {
  display: flex;
  align-items: center;
  background-color: black;
  background-image: url("./img/top_banner.png");
  width: 100%;
  height: 17em;
}
* body .whole_page .top_page .right_square .solutions {
  color: #66C7E5;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  position: relative;
  bottom: 0.7em;
  left: 3em;
  width: 55%;
}
* body .whole_page .top_page .right_square .solutions::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 6px;
  width: 45%;
  background-color: white;
}
* body .whole_page .top_page .right_square p {
  color: #66C7E5;
}
* body .whole_page .exec_summary {
  height: 28%;
  height: 400px;
  background-color: #F0F5FF;
  display: flex;
  flex-direction: column;
}
* body .whole_page .exec_summary .exec_words {
  font-family: "Inter", sans-serif;
  margin: 7em 0 0 5em;
  width: 60%;
  line-height: 2em;
  font-size: 1rem;
}
* body .whole_page .exec_summary .exec_words b {
  color: #06183A;
}
* body .whole_page .exec_summary .exec_words p {
  color: #06183A;
}
* body .whole_page .exec_summary .ul_bulb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5em 0 0 0;
}
* body .whole_page .exec_summary .ul_bulb ul {
  width: 85%;
  height: 2px;
  margin: 0em 0 0 -2em;
  background-color: #06183A;
  border: 0 none;
}
* body .whole_page .exec_summary .ul_bulb #bulb {
  width: 2em;
  height: 2em;
  position: relative;
  right: -15px;
}
* body .whole_page .insight_section {
  height: 40%;
  height: 725px;
  background-color: #F0F5FF;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
}
* body .whole_page .insight_section .insight_contents {
  display: flex;
  flex-direction: column;
  gap: 1.1em;
  margin: 0em 5em 0 5em;
}
* body .whole_page .insight_section .insight_contents .insight_title b {
  color: #06183A;
}
* body .whole_page .insight_section .insight_contents .insight_squares {
  display: flex;
  gap: 4em;
}
* body .whole_page .insight_section .insight_contents .insight_squares .square {
  display: flex;
  justify-content: center;
  border: 1px solid #06183A;
  height: 32em;
  width: 21em;
  border-radius: 5px;
  cursor: pointer;
}
* body .whole_page .insight_section .insight_contents .insight_squares .square .square_content {
  display: flex;
  flex-direction: column;
  margin: 3em 0 0 5em;
}
* body .whole_page .insight_section .insight_contents .insight_squares .square .square_content button {
  background: none;
  border: none;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
}
* body .whole_page .insight_section .insight_contents .insight_squares .square .square_content button::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 4px;
  width: 105%;
  background-color: #66C7E5;
  opacity: 0;
  margin: 0 0 0 0.4em;
}
* body .whole_page .insight_section .insight_contents .insight_squares .square .square_content button:hover:before {
  opacity: 1;
  transition: 0.3s all ease-in;
  z-index: 1;
}
* body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes {
  display: flex;
  flex-direction: column;
  line-height: 15px;
  align-items: center;
  height: 100%;
  width: 60%;
  margin: 3em 0 0 0.4em;
  opacity: 0;
}
* body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes p {
  font-size: small;
}
* body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes.appear {
  opacity: 1;
  transition: 0.3s all ease-in;
}
* body .whole_page .insight_section .insight_contents .insight_squares #square_one {
  background-image: url("./img/office_lights.png");
  margin: 0 0 0 0em;
}
* body .whole_page .insight_section .insight_contents .insight_squares #square_two {
  background-image: url("./img/operations_light.png");
}
* body .whole_page .insight_section .insight_contents .insight_squares #square_three {
  background-image: url("./img/environ_light.png");
}
* body .whole_page .insight_section .insight_contents .insight_squares #square_four {
  background-image: url("./img/hand_light.png");
}
* body .whole_page footer {
  height: 150px;
  background-color: #06183A;
}/*# sourceMappingURL=style.css.map */