@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  color: white;
}

@media only screen and (orientation: portrait) {
  body {
    background-color: black;
    background-color: darkblue;
  }
  body .whole_page {
    height: 190vh;
    height: 220vh;
    background-color: #F0F5FF;
  }
  body .whole_page nav {
    background-color: #06183A;
    height: 6%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  body .whole_page nav .nav_contents {
    margin: 0 5em 0 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  body .whole_page nav .title_nav {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-size: 1rem;
    margin-left: -4em;
  }
  body .whole_page nav .title_nav #lightbulb {
    width: 2em;
    height: 2em;
  }
  body .whole_page nav .title_nav p {
    display: none;
  }
  body .whole_page nav .list_nav {
    display: none;
  }
  body .whole_page nav .mobile_menu {
    position: relative;
    left: 3.5em;
    top: 0.1em;
  }
  body .whole_page nav .mobile_menu #hamburger {
    width: 2.5em;
    height: 2.5em;
  }
  body .whole_page .top_page {
    height: 250px;
    width: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .whole_page .top_page .right_square {
    background-image: url("./img/top_banner.png");
    width: 100%;
    height: 9em;
  }
  body .whole_page .top_page .right_square .solutions {
    position: relative;
    top: 3em;
    left: 1.5em;
  }
  body .whole_page .top_page .right_square .solutions::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 3px;
    width: 68%;
    background-color: white;
  }
  body .whole_page .top_page .right_square p {
    color: #66C7E5;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  body .whole_page .exec_summary {
    height: 25%;
    display: flex;
    flex-direction: column;
  }
  body .whole_page .exec_summary .exec_words_and_lights {
    display: flex;
    flex-direction: column;
  }
  body .whole_page .exec_summary .exec_words_and_lights .exec_words {
    font-family: "Inter", sans-serif;
    margin: 0em 0em 0 2em;
    width: 83%;
    line-height: 2em;
    font-size: 0.9rem;
  }
  body .whole_page .exec_summary .exec_words_and_lights .exec_words b {
    color: #06183A;
  }
  body .whole_page .exec_summary .exec_words_and_lights .exec_words p {
    color: #06183A;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds {
    position: relative;
    left: 1em;
    height: 20%;
    display: flex;
    margin: 6em 0 0 -12em;
    justify-content: center;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds ul {
    width: 85%;
    width: 21%;
    height: 2px;
    margin: 0.5em 1em 0 10em;
    background-color: #06183A;
    border: 0 none;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds .led_one {
    z-index: 1;
    margin: -1em 0 0 0;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds .led_one #led_one {
    border-radius: 50%;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #66C7E5;
    width: 5em;
    height: 5em;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds .led_two {
    margin: -3em 0 0 -1em;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds .led_two #led_two {
    border-radius: 15px;
    filter: brightness(70%);
    box-shadow: 1px 1px 1px 1px #66C7E5;
    width: 5em;
    height: 5em;
    border-radius: 15px;
  }
  body .whole_page .exec_summary .ul_bulb {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body .whole_page .exec_summary .ul_bulb ul {
    width: 85%;
    width: 80%;
    height: 2px;
    margin: 0em 0 0 -2em;
    background-color: #06183A;
    border: 0 none;
  }
  body .whole_page .insight_section {
    height: 50%;
    font-family: "Inter", sans-serif;
    margin: 3em 2em 0 2em;
  }
  body .whole_page .insight_section .insight_contents {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    margin: 0em 2em 0 2em;
    width: 100%;
  }
  body .whole_page .insight_section .insight_contents .insight_title b {
    color: #06183A;
    font-size: 1rem;
    margin: 0 0 0 -2em;
  }
  body .whole_page .insight_section .insight_contents .insight_squares {
    display: flex;
    flex-direction: column;
    gap: 3em;
    height: 80%;
    width: 100%;
    position: relative;
    right: 2em;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square {
    width: 100%;
    height: 20em;
    height: 7em;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content {
    position: relative;
    left: 1.8em;
    top: 1.8em;
    top: 2.5em;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button {
    background: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    border: none;
    font-weight: bold;
    position: relative;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 3px;
    width: 105%;
    background-color: #66C7E5;
    opacity: 1;
    margin: 0 0 0 0.2em;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button:hover:before {
    opacity: 1;
    transition: 0.3s all ease-in;
    z-index: 1;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes {
    width: 75%;
    font-size: 0.8rem;
    margin: 2em 0 0 0.3em;
    opacity: 0;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes.appear {
    transition: 0.4s all ease-in;
    opacity: 1;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_one {
    background-image: url("./img/office_lights.png");
    box-shadow: 2px 2px 2px 2px #06183A;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_one.touch {
    box-shadow: 2px 2px 2px 2px #66C7E5;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_two {
    background-image: url("./img/operations_light.png");
    box-shadow: 2px 2px 2px 2px #06183A;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_two.touch {
    box-shadow: 2px 2px 2px 2px #66C7E5;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_three {
    background-image: url("./img/environ_light.png");
    box-shadow: 2px 2px 2px 2px #06183A;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_three.touch {
    box-shadow: 2px 2px 2px 2px #66C7E5;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_four {
    background-image: url("./img/hand_light.png");
    box-shadow: 2px 2px 2px 2px #06183A;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_four.touch {
    box-shadow: 2px 2px 2px 2px #66C7E5;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_one.pressed {
    height: 20em;
    padding-bottom: 2em;
    transition: 0.2s all ease-in-out;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_two.pressed {
    height: 20em;
    padding-bottom: 2em;
    transition: 0.2s all ease-in-out;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_three.pressed {
    height: 20em;
    padding-bottom: 2em;
    transition: 0.2s all ease-in-out;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_four.pressed {
    height: 20em;
    padding-bottom: 2em;
    transition: 0.2s all ease-in-out;
  }
  body .whole_page footer {
    height: 35%;
    background-color: #06183A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  body .whole_page footer .top_footer_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
  }
  body .whole_page footer .top_footer_contents .co_name_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: -3em 0 0 -11em;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .logo_name #lightbulb {
    width: 0.8em;
    height: 0.8em;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .logo_name p {
    color: #DAD3D3;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .footer_list {
    display: flex;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin: 0 0 0 -0.6em;
    position: relative;
    left: 0em;
    top: 1em;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  body .whole_page footer .top_footer_contents .sign_up_div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: -1.7em 0 0 -1em;
  }
  body .whole_page footer .top_footer_contents .sign_up_div small {
    color: #66C7E5;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  body .whole_page footer .top_footer_contents .sign_up_div .email_input input {
    background-color: #F0F5FF;
    background-color: #66C7E5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 16em;
    height: 2em;
    border: none;
  }
  body .whole_page footer .top_footer_contents .sign_up_div .email_input button {
    background-color: #F0F5FF;
    background-color: #06183A;
    border: 2px solid #66C7E5;
    color: #66C7E5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 6em;
    height: 2.15em;
    width: 7em;
    height: 2.5em;
    cursor: pointer;
  }
  body .whole_page footer .top_footer_contents .sign_up_div .email_input button:hover {
    background-color: #06183A;
    background-color: #F0F5FF;
    color: #66C7E5;
    color: #06183A;
    transition: 0.1s all ease-in;
    border: 2px solid #66C7E5;
    border: none;
  }
  body .whole_page footer .top_footer_contents .connect_with {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
    right: 12vw;
    bottom: 30px;
  }
  body .whole_page footer .top_footer_contents .connect_with small {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  body .whole_page footer .top_footer_contents .connect_with .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8em;
  }
  body .whole_page footer .top_footer_contents .connect_with .socials #twitter {
    width: 2.2em;
    height: 2.2em;
    width: 1.4em;
    height: 1.4em;
  }
  body .whole_page footer .top_footer_contents .connect_with .socials .soc_icon {
    width: 2.6em;
    height: 2.6em;
    width: 1.5em;
    height: 1.5em;
  }
  body .whole_page footer .copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66C7E5;
    color: white;
    font-size: 0.7rem;
    font-size: 2.5vw;
    font-family: "Inter", sans-serif;
    gap: 0.5em;
    position: relative;
    top: 4em;
  }
  body .whole_page footer .copyrights #courdevelops {
    width: 2em;
    height: 2em;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  * {
    margin: 0;
    background-color: darkred;
  }
  * body {
    display: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  body {
    background-color: black;
  }
  body .whole_page {
    height: 150vh;
    background-color: #F0F5FF;
  }
  body .whole_page nav {
    background-color: #06183A;
    height: 6%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  body .whole_page nav .nav_contents {
    margin: 0 5em 0 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  body .whole_page nav .title_nav {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    margin-left: -0.7em;
  }
  body .whole_page nav .title_nav #lightbulb {
    width: 1em;
    height: 1em;
  }
  body .whole_page nav .list_nav {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    gap: 1em;
  }
  body .whole_page nav .list_nav a {
    text-decoration: none;
    font-size: 1rem;
  }
  body .whole_page nav .list_nav .home {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  body .whole_page nav .list_nav .home #home {
    width: 1.2em;
  }
  body .whole_page nav .list_nav .insights {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  body .whole_page nav .list_nav .insights #insights {
    width: 1.3em;
  }
  body .whole_page nav .list_nav .contact {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  body .whole_page nav .list_nav .contact #contact {
    width: 1em;
  }
  body .whole_page nav .mobile_menu {
    display: none;
  }
  body .whole_page .top_page {
    width: 100%;
    height: 250px;
    margin-top: 6em;
  }
  body .whole_page .top_page .right_square {
    display: flex;
    align-items: center;
    background-image: url("./img/top_banner.png");
    width: 100%;
    height: 17em;
  }
  body .whole_page .top_page .right_square .solutions {
    color: #66C7E5;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 0.7em;
    left: 3em;
    width: 55%;
  }
  body .whole_page .top_page .right_square .solutions::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 6px;
    width: 45%;
    background-color: white;
  }
  body .whole_page .top_page .right_square p {
    color: #66C7E5;
  }
  body .whole_page .exec_summary {
    height: 28%;
    height: 400px;
    background-color: #F0F5FF;
    display: flex;
    flex-direction: column;
  }
  body .whole_page .exec_summary .exec_words_and_lights {
    display: flex;
  }
  body .whole_page .exec_summary .exec_words_and_lights .exec_words {
    font-family: "Inter", sans-serif;
    margin: 7em 0 0 5em;
    width: 60%;
    line-height: 2em;
    font-size: 0.9rem;
  }
  body .whole_page .exec_summary .exec_words_and_lights .exec_words b {
    color: #06183A;
  }
  body .whole_page .exec_summary .exec_words_and_lights .exec_words p {
    color: #06183A;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds {
    display: flex;
    margin: 9em 0 0 0;
    position: relative;
    left: 10px;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds .led_one {
    margin: 0 0 0 3em;
    z-index: 1;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds .led_one #led_one {
    border-radius: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px #66C7E5;
    width: 10em;
    height: 10em;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds .led_two {
    border-radius: 50%;
    margin: -3em 0 0 -3em;
  }
  body .whole_page .exec_summary .exec_words_and_lights .leds .led_two #led_two {
    border-radius: 15px;
    filter: brightness(70%);
    box-shadow: 2px 2px 2px 2px #66C7E5;
    width: 10em;
    height: 10em;
    border-radius: 15px;
  }
  body .whole_page .exec_summary .ul_bulb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5em 0 0 0;
  }
  body .whole_page .exec_summary .ul_bulb ul {
    width: 85%;
    width: 80%;
    height: 2px;
    margin: 0em 0 0 -0.5em;
    background-color: #06183A;
    border: 0 none;
  }
  body .whole_page .exec_summary .ul_bulb #bulb {
    width: 2em;
    height: 2em;
    position: relative;
    right: -17px;
  }
  body .whole_page .insight_section {
    height: 50%;
    height: 650px;
    background-color: #F0F5FF;
    display: flex;
    padding: 2em 0 2em 0;
    align-items: center;
    font-family: "Inter", sans-serif;
  }
  body .whole_page .insight_section .insight_contents {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    margin: 0em 5em 0 5em;
  }
  body .whole_page .insight_section .insight_contents .insight_title b {
    color: #06183A;
  }
  body .whole_page .insight_section .insight_contents .insight_squares {
    display: flex;
    gap: 2em;
    height: 100%;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square {
    background-color: #06183A;
    width: 85%;
    height: 30em;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content {
    margin: 2em 0 0 3em;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button {
    background: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    position: relative;
    cursor: pointer;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 4px;
    width: 105%;
    background-color: #66C7E5;
    opacity: 0;
    margin: 0 0 0 0.4em;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button:hover:before {
    opacity: 1;
    transition: 0.3s all ease-in;
    z-index: 1;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes {
    width: 75%;
    font-size: 0.8rem;
    margin: 2em 0 0 0.3em;
    opacity: 0;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes.appear {
    transition: 0.4s all ease-in;
    opacity: 1;
  }
  body .whole_page .insight_section .insight_contents .insight_squares .square::after {
    content: "";
    display: block;
    padding-bottom: 30%;
    padding-bottom: 60px;
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_one {
    background-image: url("./img/office_lights.png");
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_two {
    background-image: url("./img/operations_light.png");
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_three {
    background-image: url("./img/environ_light.png");
  }
  body .whole_page .insight_section .insight_contents .insight_squares #square_four {
    background-image: url("./img/hand_light.png");
  }
  body .whole_page footer {
    height: 220px;
    background-color: #06183A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  body .whole_page footer .top_footer_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw 0 0 0vw;
    gap: 5vw;
  }
  body .whole_page footer .top_footer_contents .co_name_logo {
    display: flex;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 50px;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .logo_name #lightbulb {
    width: 1em;
    height: 1em;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .logo_name p {
    color: #DAD3D3;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .footer_list {
    display: flex;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 0 0 5em;
    position: relative;
    right: 4em;
  }
  body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  body .whole_page footer .top_footer_contents .sign_up_div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: -2.5em 0 0 -2em;
  }
  body .whole_page footer .top_footer_contents .sign_up_div small {
    color: #66C7E5;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  body .whole_page footer .top_footer_contents .sign_up_div .email_input input {
    background-color: #F0F5FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 17em;
    height: 2em;
    border: none;
  }
  body .whole_page footer .top_footer_contents .sign_up_div .email_input button {
    background-color: #F0F5FF;
    background-color: #06183A;
    border: 2px solid #66C7E5;
    color: #66C7E5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 7em;
    height: 2.15em;
    cursor: pointer;
  }
  body .whole_page footer .top_footer_contents .sign_up_div .email_input button:hover {
    background-color: #06183A;
    background-color: #F0F5FF;
    color: #66C7E5;
    color: #06183A;
    transition: 0.1s all ease-in;
    border: 2px solid #66C7E5;
    border: none;
  }
  body .whole_page footer .top_footer_contents .connect_with {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
    left: 25px;
    bottom: 20px;
  }
  body .whole_page footer .top_footer_contents .connect_with small {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  body .whole_page footer .top_footer_contents .connect_with .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8em;
  }
  body .whole_page footer .top_footer_contents .connect_with .socials #twitter {
    width: 1.5em;
    height: 1.5em;
  }
  body .whole_page footer .top_footer_contents .connect_with .socials .soc_icon {
    width: 1.8em;
    height: 1.8em;
  }
  body .whole_page footer .copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66C7E5;
    color: white;
    font-size: x-small;
    font-family: "Inter", sans-serif;
    gap: 0.5em;
    position: relative;
    bottom: 0em;
    right: 0.5em;
    left: 1.5em;
  }
  body .whole_page footer .copyrights #courdevelops {
    width: 2em;
    height: 2em;
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1699px) {
  * {
    margin: 0;
    color: white;
  }
  * body {
    background-color: black;
  }
  * body .whole_page {
    height: 150vh;
    background-color: #F0F5FF;
  }
  * body .whole_page nav {
    background-color: #06183A;
    height: 6%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  * body .whole_page nav .nav_contents {
    margin: 0 5em 0 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  * body .whole_page nav .title_nav {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    margin-left: -0.7em;
  }
  * body .whole_page nav .title_nav #lightbulb {
    width: 1em;
    height: 1em;
  }
  * body .whole_page nav .list_nav {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    gap: 1em;
  }
  * body .whole_page nav .list_nav a {
    text-decoration: none;
    font-size: 1rem;
  }
  * body .whole_page nav .list_nav .home {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  * body .whole_page nav .list_nav .home #home {
    width: 1.2em;
  }
  * body .whole_page nav .list_nav .insights {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  * body .whole_page nav .list_nav .insights #insights {
    width: 1.3em;
  }
  * body .whole_page nav .list_nav .contact {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  * body .whole_page nav .list_nav .contact #contact {
    width: 1em;
  }
  * body .whole_page nav .mobile_menu {
    display: none;
  }
  * body .whole_page .top_page {
    background-color: #06183A;
    width: 100%;
    height: 250px;
    margin-top: 6em;
  }
  * body .whole_page .top_page .right_square {
    display: flex;
    align-items: center;
    background-color: black;
    background-image: url("./img/top_banner.png");
    width: 100%;
    height: 17em;
  }
  * body .whole_page .top_page .right_square .solutions {
    color: #66C7E5;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 0.7em;
    left: 3em;
    width: 55%;
  }
  * body .whole_page .top_page .right_square .solutions::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 6px;
    width: 45%;
    background-color: white;
  }
  * body .whole_page .top_page .right_square p {
    color: #66C7E5;
  }
  * body .whole_page .exec_summary {
    height: 28%;
    height: 400px;
    background-color: #F0F5FF;
    display: flex;
    flex-direction: column;
  }
  * body .whole_page .exec_summary .exec_words_and_lights {
    display: flex;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .exec_words {
    font-family: "Inter", sans-serif;
    margin: 7em 0 0 5em;
    width: 60%;
    line-height: 2em;
    font-size: 1rem;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .exec_words b {
    color: #06183A;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .exec_words p {
    color: #06183A;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds {
    display: flex;
    margin: 9em 0 0 0;
    position: relative;
    left: 55px;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_one {
    margin: 0 0 0 3em;
    z-index: 1;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_one #led_one {
    border-radius: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px #66C7E5;
    width: 12em;
    height: 12em;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_two {
    border-radius: 50%;
    margin: -3em 0 0 -3em;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_two #led_two {
    border-radius: 15px;
    filter: brightness(70%);
    box-shadow: 2px 2px 2px 2px #66C7E5;
    width: 12em;
    height: 12em;
    border-radius: 15px;
  }
  * body .whole_page .exec_summary .ul_bulb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5em 0 0 0;
  }
  * body .whole_page .exec_summary .ul_bulb ul {
    width: 85%;
    width: 84%;
    height: 2px;
    margin: 0em 0 0 -0.5em;
    background-color: #06183A;
    border: 0 none;
  }
  * body .whole_page .exec_summary .ul_bulb #bulb {
    width: 2em;
    height: 2em;
    position: relative;
    right: -17px;
  }
  * body .whole_page .insight_section {
    height: 50%;
    height: 650px;
    background-color: #F0F5FF;
    display: flex;
    padding: 2em 0 2em 0;
    align-items: center;
    font-family: "Inter", sans-serif;
  }
  * body .whole_page .insight_section .insight_contents {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    margin: 0em 5em 0 5em;
  }
  * body .whole_page .insight_section .insight_contents .insight_title b {
    color: #06183A;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares {
    display: flex;
    gap: 2em;
    height: 100%;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square {
    background-color: #06183A;
    width: 85%;
    height: 30em;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content {
    margin: 2em 0 0 4em;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button {
    background: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    position: relative;
    cursor: pointer;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 4px;
    width: 105%;
    background-color: #66C7E5;
    opacity: 0;
    margin: 0 0 0 0.4em;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button:hover:before {
    opacity: 1;
    transition: 0.3s all ease-in;
    z-index: 1;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes {
    width: 75%;
    font-size: 0.9rem;
    margin: 2em 0 0 0.3em;
    opacity: 0;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes.appear {
    transition: 0.4s all ease-in;
    opacity: 1;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square::after {
    content: "";
    display: block;
    padding-bottom: 30%;
    padding-bottom: 60px;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_one {
    background-image: url("./img/office_lights.png");
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_two {
    background-image: url("./img/operations_light.png");
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_three {
    background-image: url("./img/environ_light.png");
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_four {
    background-image: url("./img/hand_light.png");
  }
  * body .whole_page footer {
    height: 215px;
    background-color: #06183A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  * body .whole_page footer .top_footer_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw 0 0 0vw;
    gap: 10vw;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo {
    display: flex;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .logo_name #lightbulb {
    width: 1em;
    height: 1em;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .logo_name p {
    color: #DAD3D3;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .footer_list {
    display: flex;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 0 0 7em;
    position: relative;
    left: 0em;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: -2.5em 0 0 -2em;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div small {
    color: #66C7E5;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div .email_input input {
    background-color: #F0F5FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 26em;
    height: 3em;
    border: none;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div .email_input button {
    background-color: #F0F5FF;
    background-color: #06183A;
    border: 2px solid #66C7E5;
    color: #66C7E5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 10em;
    height: 3.15em;
    cursor: pointer;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div .email_input button:hover {
    background-color: #06183A;
    background-color: #F0F5FF;
    color: #66C7E5;
    color: #06183A;
    transition: 0.1s all ease-in;
    border: 2px solid #66C7E5;
    border: none;
  }
  * body .whole_page footer .top_footer_contents .connect_with {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
    right: 40px;
    bottom: 20px;
  }
  * body .whole_page footer .top_footer_contents .connect_with small {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  * body .whole_page footer .top_footer_contents .connect_with .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8em;
  }
  * body .whole_page footer .top_footer_contents .connect_with .socials #twitter {
    width: 1.5em;
    height: 1.5em;
    width: 2.2em;
    height: 2.2em;
  }
  * body .whole_page footer .top_footer_contents .connect_with .socials .soc_icon {
    width: 1.8em;
    height: 1.8em;
    width: 2.6em;
    height: 2.6em;
  }
  * body .whole_page footer .copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66C7E5;
    color: white;
    font-size: small;
    font-family: "Inter", sans-serif;
    gap: 0.5em;
    position: relative;
    bottom: 0em;
    right: 0.5em;
    left: 1.5em;
  }
  * body .whole_page footer .copyrights #courdevelops {
    width: 2em;
    height: 2em;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1899px) {
  * {
    margin: 0;
    color: white;
  }
  * body {
    background-color: black;
  }
  * body .whole_page {
    height: 150vh;
    background-color: #F0F5FF;
  }
  * body .whole_page nav {
    background-color: #06183A;
    height: 6%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  * body .whole_page nav .nav_contents {
    margin: 0 5em 0 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  * body .whole_page nav .title_nav {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    margin-left: -0.7em;
  }
  * body .whole_page nav .title_nav #lightbulb {
    width: 1em;
    height: 1em;
  }
  * body .whole_page nav .list_nav {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    gap: 1em;
  }
  * body .whole_page nav .list_nav a {
    text-decoration: none;
    font-size: 1rem;
  }
  * body .whole_page nav .list_nav .home {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  * body .whole_page nav .list_nav .home #home {
    width: 1.2em;
  }
  * body .whole_page nav .list_nav .insights {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  * body .whole_page nav .list_nav .insights #insights {
    width: 1.3em;
  }
  * body .whole_page nav .list_nav .contact {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  * body .whole_page nav .list_nav .contact #contact {
    width: 1em;
  }
  * body .whole_page nav .mobile_menu {
    display: none;
  }
  * body .whole_page .top_page {
    background-color: #06183A;
    width: 100%;
    height: 250px;
    margin-top: 6em;
  }
  * body .whole_page .top_page .right_square {
    display: flex;
    align-items: center;
    background-color: black;
    background-image: url("./img/top_banner.png");
    width: 100%;
    height: 17em;
  }
  * body .whole_page .top_page .right_square .solutions {
    color: #66C7E5;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 0.7em;
    left: 3em;
    width: 55%;
  }
  * body .whole_page .top_page .right_square .solutions::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 6px;
    width: 45%;
    background-color: white;
  }
  * body .whole_page .top_page .right_square p {
    color: #66C7E5;
  }
  * body .whole_page .exec_summary {
    height: 28%;
    height: 400px;
    background-color: #F0F5FF;
    display: flex;
    flex-direction: column;
  }
  * body .whole_page .exec_summary .exec_words_and_lights {
    display: flex;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .exec_words {
    font-family: "Inter", sans-serif;
    margin: 7em 0 0 5em;
    width: 60%;
    line-height: 2em;
    font-size: 1rem;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .exec_words b {
    color: #06183A;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .exec_words p {
    color: #06183A;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds {
    display: flex;
    margin: 9em 0 0 0;
    position: relative;
    left: 85px;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_one {
    z-index: 1;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_one #led_one {
    border-radius: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px #66C7E5;
    width: 14em;
    height: 14em;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_two {
    border-radius: 50%;
    margin: -3em 0 0 -3em;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_two #led_two {
    border-radius: 15px;
    filter: brightness(70%);
    box-shadow: 2px 2px 2px 2px #66C7E5;
    width: 14em;
    height: 14em;
    border-radius: 15px;
  }
  * body .whole_page .exec_summary .ul_bulb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5em 0 0 0;
  }
  * body .whole_page .exec_summary .ul_bulb ul {
    width: 85%;
    width: 86%;
    height: 2px;
    margin: 0em 0 0 -0.5em;
    background-color: #06183A;
    border: 0 none;
  }
  * body .whole_page .exec_summary .ul_bulb #bulb {
    width: 2em;
    height: 2em;
    position: relative;
    right: -17px;
  }
  * body .whole_page .insight_section {
    height: 50%;
    height: 650px;
    background-color: #F0F5FF;
    display: flex;
    padding: 2em 0 2em 0;
    align-items: center;
    font-family: "Inter", sans-serif;
  }
  * body .whole_page .insight_section .insight_contents {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    margin: 1em 5em 0 5em;
  }
  * body .whole_page .insight_section .insight_contents .insight_title b {
    color: #06183A;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares {
    display: flex;
    gap: 2em;
    height: 100%;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square {
    background-color: #06183A;
    width: 85%;
    height: 30em;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content {
    margin: 2em 0 0 4em;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button {
    background: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    position: relative;
    cursor: pointer;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 4px;
    width: 105%;
    background-color: #66C7E5;
    opacity: 0;
    margin: 0 0 0 0.4em;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button:hover:before {
    opacity: 1;
    transition: 0.3s all ease-in;
    z-index: 1;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes {
    width: 75%;
    font-size: 0.9rem;
    margin: 2em 0 0 0.3em;
    opacity: 0;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes.appear {
    transition: 0.4s all ease-in;
    opacity: 1;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square::after {
    content: "";
    display: block;
    padding-bottom: 30%;
    padding-bottom: 60px;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_one {
    background-image: url("./img/office_lights.png");
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_two {
    background-image: url("./img/operations_light.png");
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_three {
    background-image: url("./img/environ_light.png");
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_four {
    background-image: url("./img/hand_light.png");
  }
  * body .whole_page footer {
    height: 215px;
    background-color: #06183A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  * body .whole_page footer .top_footer_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw 0 0 0vw;
    gap: 15vw;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo {
    display: flex;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .logo_name #lightbulb {
    width: 1em;
    height: 1em;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .logo_name p {
    color: #DAD3D3;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .footer_list {
    display: flex;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 0 0 7em;
    position: relative;
    left: 2em;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: -3em 0 0 -4em;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div small {
    color: #66C7E5;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div .email_input input {
    background-color: #F0F5FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 26em;
    height: 3em;
    border: none;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div .email_input button {
    background-color: #F0F5FF;
    background-color: #06183A;
    border: 2px solid #66C7E5;
    color: #66C7E5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 10em;
    height: 3.15em;
    cursor: pointer;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div .email_input button:hover {
    background-color: #06183A;
    background-color: #F0F5FF;
    color: #66C7E5;
    color: #06183A;
    transition: 0.1s all ease-in;
    border: 2px solid #66C7E5;
    border: none;
  }
  * body .whole_page footer .top_footer_contents .connect_with {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
    right: 10px;
    bottom: 20px;
  }
  * body .whole_page footer .top_footer_contents .connect_with small {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  * body .whole_page footer .top_footer_contents .connect_with .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8em;
  }
  * body .whole_page footer .top_footer_contents .connect_with .socials #twitter {
    width: 1.5em;
    height: 1.5em;
    width: 2.2em;
    height: 2.2em;
  }
  * body .whole_page footer .top_footer_contents .connect_with .socials .soc_icon {
    width: 1.8em;
    height: 1.8em;
    width: 2.6em;
    height: 2.6em;
  }
  * body .whole_page footer .copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66C7E5;
    color: white;
    font-size: small;
    font-family: "Inter", sans-serif;
    gap: 0.5em;
    position: relative;
    bottom: 0em;
    right: 0.5em;
    left: 1.5em;
  }
  * body .whole_page footer .copyrights #courdevelops {
    width: 2em;
    height: 2em;
  }
}
@media only screen and (min-width: 1900px) {
  * {
    margin: 0;
    color: white;
  }
  * body {
    background-color: black;
  }
  * body .whole_page {
    height: 150vh;
    background-color: #F0F5FF;
  }
  * body .whole_page nav {
    background-color: #06183A;
    height: 6%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  * body .whole_page nav .nav_contents {
    margin: 0 5em 0 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  * body .whole_page nav .title_nav {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    font-size: 1.5rem;
    margin-left: -0.7em;
  }
  * body .whole_page nav .title_nav #lightbulb {
    width: 1em;
    height: 1em;
  }
  * body .whole_page nav .list_nav {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    gap: 1em;
  }
  * body .whole_page nav .list_nav a {
    text-decoration: none;
    font-size: 1.2rem;
  }
  * body .whole_page nav .list_nav .home {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  * body .whole_page nav .list_nav .home #home {
    width: 1.4em;
  }
  * body .whole_page nav .list_nav .insights {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  * body .whole_page nav .list_nav .insights #insights {
    width: 1.4em;
  }
  * body .whole_page nav .list_nav .contact {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  * body .whole_page nav .list_nav .contact #contact {
    width: 1.3em;
  }
  * body .whole_page nav .mobile_menu {
    display: none;
  }
  * body .whole_page .top_page {
    background-color: #06183A;
    width: 100%;
    height: 250px;
    margin-top: 6em;
  }
  * body .whole_page .top_page .right_square {
    display: flex;
    align-items: center;
    background-color: black;
    background-image: url("./img/top_banner.png");
    width: 100%;
    height: 17em;
  }
  * body .whole_page .top_page .right_square .solutions {
    color: #66C7E5;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 0.7em;
    left: 3em;
    width: 55%;
  }
  * body .whole_page .top_page .right_square .solutions::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 6px;
    width: 45%;
    background-color: white;
  }
  * body .whole_page .top_page .right_square p {
    color: #66C7E5;
  }
  * body .whole_page .exec_summary {
    height: 28%;
    height: 400px;
    background-color: #F0F5FF;
    display: flex;
    flex-direction: column;
  }
  * body .whole_page .exec_summary .exec_words_and_lights {
    display: flex;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .exec_words {
    font-family: "Inter", sans-serif;
    margin: 7em 0 0 4em;
    width: 60%;
    line-height: 2em;
    font-size: 1.2rem;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .exec_words b {
    color: #06183A;
    font-size: 1.2rem;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .exec_words p {
    color: #06183A;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds {
    display: flex;
    margin: 9em 0 0 -2em;
    position: relative;
    left: 135px;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_one {
    margin: 0 0 0 3em;
    z-index: 1;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_one #led_one {
    border-radius: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px #66C7E5;
    width: 14em;
    height: 14em;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_two {
    border-radius: 50%;
    margin: -3em 0 0 -3em;
  }
  * body .whole_page .exec_summary .exec_words_and_lights .leds .led_two #led_two {
    border-radius: 15px;
    filter: brightness(70%);
    box-shadow: 2px 2px 2px 2px #66C7E5;
    width: 14em;
    height: 14em;
    border-radius: 15px;
  }
  * body .whole_page .exec_summary .ul_bulb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5em 0 0 0;
  }
  * body .whole_page .exec_summary .ul_bulb ul {
    width: 85%;
    width: 87%;
    height: 2px;
    margin: 0em 0 0 -0.5em;
    background-color: #06183A;
    border: 0 none;
  }
  * body .whole_page .exec_summary .ul_bulb #bulb {
    width: 2em;
    height: 2em;
    position: relative;
    right: -17px;
  }
  * body .whole_page .insight_section {
    height: 50%;
    height: 650px;
    height: 840px;
    background-color: #F0F5FF;
    display: flex;
    padding: 2em 0 2em 0;
    align-items: center;
    font-family: "Inter", sans-serif;
  }
  * body .whole_page .insight_section .insight_contents {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    margin: 1em 5em 0 5em;
  }
  * body .whole_page .insight_section .insight_contents .insight_title b {
    color: #06183A;
    font-size: 1.2rem;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares {
    display: flex;
    gap: 2em;
    height: 100%;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square {
    background-color: #06183A;
    width: 85%;
    height: 30em;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content {
    margin: 2em 0 0 4em;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button {
    background: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    border: none;
    font-weight: bold;
    position: relative;
    cursor: pointer;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0em;
    height: 4px;
    width: 105%;
    background-color: #66C7E5;
    opacity: 0;
    margin: 0 0 0 0.2em;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .insight_button:hover:before {
    opacity: 1;
    transition: 0.3s all ease-in;
    z-index: 1;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes {
    width: 75%;
    font-size: 1rem;
    margin: 2em 0 0 0.3em;
    opacity: 0;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square .square_content .hover_boxes.appear {
    transition: 0.4s all ease-in;
    opacity: 1;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares .square::after {
    content: "";
    display: block;
    padding-bottom: 30%;
    padding-bottom: 60px;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_one {
    background-image: url("./img/office_lights.png");
    box-shadow: 4px 4px 4px 4px #06183A;
    transition: 0.2s all ease-in;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_one.hover {
    box-shadow: 4px 4px 4px 4px #66C7E5;
    transition: 0.2s all ease-in;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_two {
    background-image: url("./img/operations_light.png");
    box-shadow: 4px 4px 4px 4px #06183A;
    transition: 0.2s all ease-in;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_two.hover {
    box-shadow: 4px 4px 4px 4px #66C7E5;
    transition: 0.2s all ease-in;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_three {
    background-image: url("./img/environ_light.png");
    box-shadow: 4px 4px 4px 4px #06183A;
    transition: 0.2s all ease-in;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_three.hover {
    box-shadow: 4px 4px 4px 4px #66C7E5;
    transition: 0.2s all ease-in;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_four {
    background-image: url("./img/hand_light.png");
    box-shadow: 4px 4px 4px 4px #06183A;
    transition: 0.2s all ease-in;
  }
  * body .whole_page .insight_section .insight_contents .insight_squares #square_four.hover {
    box-shadow: 4px 4px 4px 4px #66C7E5;
    transition: 0.2s all ease-in;
  }
  * body .whole_page footer {
    height: 215px;
    background-color: #06183A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  * body .whole_page footer .top_footer_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw 0 0 -4vw;
    gap: 15vw;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo {
    display: flex;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .logo_name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .logo_name #lightbulb {
    width: 1.3em;
    height: 1.3em;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .logo_name p {
    color: #DAD3D3;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.3em;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .footer_list {
    display: flex;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 0 0 7em;
    position: relative;
    left: 2em;
  }
  * body .whole_page footer .top_footer_contents .co_name_logo .footer_list .footer_list_contents a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-decoration: none;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: -3em 0 0 -4em;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div small {
    color: #66C7E5;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div .email_input input {
    background-color: #F0F5FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 26em;
    height: 3em;
    border: none;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div .email_input button {
    background-color: #F0F5FF;
    background-color: #06183A;
    border: 2px solid #66C7E5;
    color: #66C7E5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    width: 10em;
    height: 3.15em;
    cursor: pointer;
  }
  * body .whole_page footer .top_footer_contents .sign_up_div .email_input button:hover {
    background-color: #06183A;
    background-color: #F0F5FF;
    color: #66C7E5;
    color: #06183A;
    transition: 0.1s all ease-in;
    border: 2px solid #66C7E5;
    border: none;
  }
  * body .whole_page footer .top_footer_contents .connect_with {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
    right: 10px;
    bottom: 20px;
  }
  * body .whole_page footer .top_footer_contents .connect_with small {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
  }
  * body .whole_page footer .top_footer_contents .connect_with .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8em;
  }
  * body .whole_page footer .top_footer_contents .connect_with .socials #twitter {
    width: 1.5em;
    height: 1.5em;
    width: 2.4em;
    height: 2.4em;
  }
  * body .whole_page footer .top_footer_contents .connect_with .socials .soc_icon {
    width: 1.8em;
    height: 1.8em;
    width: 2.8em;
    height: 2.8em;
  }
  * body .whole_page footer .copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66C7E5;
    color: white;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    gap: 0.5em;
    position: relative;
    bottom: 1em;
    right: 0.5em;
    left: 1.5em;
  }
  * body .whole_page footer .copyrights #courdevelops {
    width: 2em;
    height: 2em;
  }
}/*# sourceMappingURL=style.css.map */